.plansScreen {
    background-color: #111;
    color: #fff;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.plansScreen__plan {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    opacity: 0.8;
}

.plansScreen__plan:hover {
    opacity: 1;
}

.plansScreen__plan>button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.plansScreen__plan--disabled>button {
    background-color: gray !important;
}
.nfLoader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 37px 0 0 -25px;
    width: 50px;
    height: 50px;
  }
  .nfLoader:after {
    content: "";
    background-image: url(https://assets.nflxext.com/en_us/pages/wiplayer/site-spinner.png);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    position: absolute;
    margin: -6px;
    width: inherit;
    height: inherit;
    animation: nfLoader-spin 1.1s linear infinite,1!important;
    -webkit-animation: nfLoader-spin 1.1s linear infinite,1!important; 
  }
  @keyframes nfLoader-spin {
    100% {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes nfLoader-spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }